.viewallbtn {
    background-color: #1A1A1A;
    border: 1px solid #262626;
    padding: 12px 24px;
}

.featuredesctext {
    color: #999999
}

.slidercard {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 20px;
    height: 280px;
}

.slider-container {
    border-bottom: 1px solid #262626;
}

.readbtn {
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
}

.sliderarrowsbtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    padding: 5px;
}

.sliderarrowsbtn:first-child {
    margin-right: 10px;
}

@media(max-width:600px) {
    .sliderarrowsbtn {
        margin: 10px;
    }

    .secdesc {
        width: 100% !important;
    }
}