.properties_form_title {
    font-size: clamp(30px, 3vw, 38px);
}

.properties_form_desc {
    color: #999999;
}

.formcontrol,
.formcontrol:focus {
    background-color: #1a1a1a;
    border: 1px solid #262626;
    padding: 16px 20px;
}

.formcontrol:focus {
    box-shadow: none;
    outline: none;
}

.form_container {
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
}

.form_sendbtn {
    background-color: #703BF7;
    border-radius: 6px;
    padding: 14px 34px;
}


@media(max-width:600px) {
    .form_container {
        padding: 20px;
    }

    .form_sendbtn {
        display: block;
        width: 100%;

    }
}