.values_title {
    font-size: clamp(30px, 3vw, 38px);
}

.values_desc {
    color: #999999;
}

.values_row {
    padding: 25px;
    box-shadow: 0px 0px 8px #191919;
    border-radius: 8px;
}

.values_col:nth-child(1),
.values_col:nth-child(2) {
    border-bottom: 1px solid #262626;
}

.values_col:nth-child(1), .values_col:nth-child(3) {
    border-right: 1px solid #262626;
}

@media(max-width:600px) {
    .values_row {
        padding: 10px;
    }

    .values_col:nth-child(1),
    .values_col:nth-child(2),
    .values_col:nth-child(3) {
        border-bottom: 1px solid #262626;
        border-right: unset;
    }
}